STORAGE_PATH=/data
BASE_URL=https://i.lstan.eu
SECRET_KEY=lubo:bd0f8e075f84e5f0747b9bfcca76100d
BIND_ADDR=0.0.0.0:3000
MAX_UPLOAD_MB=50
MAX_FOLDER_SIZE_GB=30
FILES_TO_DELETE_ON_CLEANUP=30
RUST_LOG=info
VIRTUAL_HOST=i.lstan.eu
LETSENCRYPT_HOST=i.lstan.eu
LETSENCRYPT_EMAIL=admin@lstan.eu